TEMPLATE_AUTO_REJECT="\
  src/contracts/Main.sol \
  tests/Main* \
  src/deployers/Main.deployer.sol \
"
TEMPLATE_REPO_ORIGIN=repo-template
TEMPLATE_REPO_BRANCH=main
TEMPLATE_LAST_COMMIT_EPOCH=1667675123 #     2022-11-05 19:05:23
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/hardhat-repo-template.git
